
<div class="list-group mt-3 border">

  <a class="list-group-item list-group-item-action list-group-item-dark p-4 w-50 d-flex justify-content-center mx-auto text-light bg-dark selected"
    *ngFor="let pl of productList$ | async"
     (click)="selectProduct(pl)"
     [class.active]="isSelected(pl)"
     [class.disabled]="!ChangeSelection()"

      routerLink="/{{routeururl}}/{{pl.id}}"> {{pl.name}}</a>
  <p *ngIf="!isReady" class="p-4 w-50 d-flex justify-content-center mx-auto text-light bg-dark"> Chargement des données en cours.</p>

</div>

