<div *ngIf="product!=null" class="w-25 text-center p-3">

  <table class="table-dark table table-hover">
    <tbody>
    <tr>
      <th  scope="row">Nom</th>
      <td>{{product.name}}</td>

    </tr>
    <tr>
      <th scope="row">Texture</th>
      <td>{{product.texture}}</td>
    </tr>
    <tr>
      <th scope="row">Grammage</th>
      <td>{{product.grammage}}</td>
    </tr>
    <tr>
      <th scope="row">couleur</th>
      <td>{{product.color}}</td>
    </tr>
    </tbody>
  </table>


</div>


<ng-container *ngIf="product == null">
  Chargement des données, veuillez patienter

</ng-container>

