<form [formGroup]="productForm" (ngSubmit)="submit()">
  <div class="col-sm-5 border">
    <div class="col p-2">

      <input class=" bg-dark text-light border-left-0 border-right-0 border-top-0 form-control" type="text"
             placeholder="Product name" formControlName="name"/>
      <span *ngIf="shouldShowRequiredError(productForm.controls.name)">Ce champ est requis</span>

    </div>
    <div class="col p-2">
      <input class="bg-dark text-light border-left-0 border-right-0 border-top-0 form-control" type="text"
             placeholder="texture" formControlName="texture"/>
    </div>

    <div class="col p-2">
      <input class="bg-dark text-light border-left-0 border-right-0 border-top-0 form-control" type="number"
             placeholder="grammage" formControlName="grammage"/>
    </div>

    <div class="col p-2">
      <input class="bg-dark text-light border-left-0 border-right-0 border-top-0 form-control" type="text"
             placeholder="color" formControlName="color"/>
    </div>
    <hr class="my-2 ">
    <div>
      <button class="float-left btn btn-primary" type="button" (click)="onCancel()">Annuler</button>
      <button class="float-right btn btn-primary" type="submit" [disabled]="!productForm.valid">Valider</button>

    </div>
  </div>


</form>
