<form [formGroup]="productForm" (ngSubmit)="submit()">
  <label>
    name:
    <input type="text" placeholder="Player name" formControlName="name" />
    <span *ngIf="shouldShowRequiredError(productForm.controls.name)">Ce champ est requis</span>
  </label>
  <label>
    texture:
    <input type="text" placeholder="texture" formControlName="texture" />
  </label>

  <label>
    grammage:
    <input type="text" placeholder="grammage" formControlName="grammage" />
  </label>

  <label>
    color:
    <input type="text" placeholder="color" formControlName="color" />
  </label>

  <button (click)="onCancel()">Annuler</button>
  <button type="submit" [disabled]="!productForm.valid">Valider</button>
</form>
